# Ignore data folder
data/

# Ignore executable files
*.exe

# Ignore folders starting with daily_credit_reports_
daily_credit_reports_*/

# Ignore folders starting with daily_growth_reports_
daily_growth_reports_*/
